<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions">
    <%%= f.button :submit, nil, <%= key_value :class, "'btn btn-primary'" %> %>
    <%%= link_to 'Voltar', <%= index_helper %>_path %>, <%= key_value :class, "'btn'" %>
  </div>
<%% end %>
